In [58]:
import pandas as pd

In [59]:
data = pd.read_csv("car_evaluation.csv")

In [60]:
data.head()

   vhigh vhigh.1  2  2.1  small   med  unacc
0  vhigh   vhigh  2    2  small  high  unacc
1  vhigh   vhigh  2    2    med   low  unacc
2  vhigh   vhigh  2    2    med   med  unacc
3  vhigh   vhigh  2    2    med  high  unacc
4  vhigh   vhigh  2    2    big   low  unacc

In [61]:
from sklearn.preprocessing import OneHotEncoder

In [62]:
ohe = OneHotEncoder(sparse=False)

In [63]:
x_encoded = ohe.fit_transform(data)

C:\ANACONDA\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [64]:
x_encoded_df = pd.DataFrame(x_encoded, columns=ohe.get_feature_names_out(data.columns))

In [65]:
x_encoded_df.head()

,vhigh_high,vhigh_low,vhigh_med,vhigh_vhigh,vhigh.1_high,vhigh.1_low,vhigh.1_med,vhigh.1_vhigh,2_2,2_3,...,small_big,small_med,small_small,med_high,med_low,med_med,unacc_acc,unacc_good,unacc_unacc,unacc_vgood
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [66]:
from sklearn.preprocessing import LabelEncoder

In [67]:
label_encoder = LabelEncoder()

In [68]:
label_encoded = data.apply(LabelEncoder().fit_transform)

In [69]:
label_encoded.head()

   vhigh  vhigh.1  2  2.1  small  med  unacc
0      3        3  0    0      2    0      2
1      3        3  0    0      1    1      2
2      3        3  0    0      1    2      2
3      3        3  0    0      1    0      2
4      3        3  0    0      0    1      2

In [70]:
print("Original data shape:", data.shape)
print("One-hot encoded data shape:", ohe_encoded.shape)
print("Label encoded data shape:", data_label_encoded.shape)

Original data shape: (1726, 7)
One-hot encoded data shape: (1726, 22)
Label encoded data shape: (1726, 7)