In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('retail_sales_dataset.csv')

In [3]:
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [4]:
print(df.isnull().sum())

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [5]:
#KNN Imputation

In [6]:
from sklearn.impute import KNNImputer

In [7]:
numerical_features = df.select_dtypes(include=['float64', 'int64'])

In [8]:
imputer = KNNImputer(n_neighbors=5)

In [35]:
df[numerical_features.columns] = imputer.fit_transform(numerical_features)

In [34]:
#MICE Imputation

In [18]:
import miceforest as mf

In [19]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [20]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype('category')

In [24]:
kernel = mf.ImputationKernel(
    data=df,
    save_all_iterations=True,
    random_state=42
)

kernel.mice(n_iter=5)

C:\ANACONDA\anaconda3\Lib\site-packages\miceforest\ImputationKernel.py:370: UserWarning: [Customer ID] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

In [28]:
imputed = kernel.complete_data(dataset=0)

In [30]:
print(imputed.isnull().sum())

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [29]:
imputed.to_csv('retail_sales_dataset_imputed.csv', index=False)